@font-face {
    font-family: 'ABC Favorit Variable';
    src:
        url('/fonts/favorit/ABCFavoritVariable-Trial.woff2') format('woff2'),
        url('/fonts/favorit/ABCFavoritVariable-Trial.woff2')
            format('woff2 supports variations'),
        url('/fonts/favorit/ABCFavoritVariable-Trial.woff2')
            format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}
