---
name: Lint and Test

# Documentation:
# https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions

on:
  push:
    branches:
      - develop
      - main

permissions:
  contents: read
  packages: read
  statuses: write

jobs:
  build:
    name: Lint code base and run unit tests
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up TeX Live
        uses: ccmaymay/setup-texlive-action@v1
        with:
          packages-path: ${{ github.workspace }}/.github/texlive.packages
          profile-path: ${{ github.workspace }}/.github/texlive.profile

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: latest
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm
          cache-dependency-path: ./pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install

      - name: Install Poppler
        run: sudo apt-get install -y poppler-data poppler-utils

      - name: Install MuPDF
        run: sudo apt-get install -y mupdf mupdf-tools

      - name: Build
        run: pnpm build

      - name: Run ESLint and TypeScript checks
        run: pnpm lint

      - name: Run Vitest tests
        run: pnpm test
