---
name: E2E Visual Regression Testing

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/playwright.yml
      - packages/sveltex/src/**
      - packages/sveltex/tests/e2e/**
      - packages/sveltex/playwright.config.ts
      - packages/sveltex/pnpm-lock.yaml
      - packages/sveltex/tsconfig.json
  pull_request:
    branches: [main]

permissions:
  contents: read
  packages: read
  statuses: write

jobs:
  test:
    name: Run Playwright Tests
    timeout-minutes: 20
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up TeX Live
        uses: TeX-Live/setup-texlive-action@v3
        with:
          packages: |
            scheme-basic
            luatex
            xetex
            latexmk
            dvisvgm
            standalone
            pgf
            microtype
            mathtools
            luatex85
            lipsum
            xcolor

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: latest
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm
          cache-dependency-path: ./pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install

      - name: Install Poppler
        run: sudo apt-get install -y poppler-data poppler-utils

      - name: Install MuPDF
        run: sudo apt-get install -y mupdf mupdf-tools

      # Playwright caching. Adapted from
      # https://github.com/microsoft/playwright/issues/7249#issuecomment-1385567519
      - name: Store Playwright Version
        run: |
          PLAYWRIGHT_VERSION=$(pnpm ls @playwright/test | grep @playwright | sed 's|.*playwright/test ||')
          echo "Playwright Version: $PLAYWRIGHT_VERSION"
          echo "PLAYWRIGHT_VERSION=$PLAYWRIGHT_VERSION" >> $GITHUB_ENV

      - name: Cache Playwright Browsers for Playwright's Version
        id: cache-playwright-browsers
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: playwright-browsers-${{ env.PLAYWRIGHT_VERSION }}

      - name: Setup Playwright
        if: steps.cache-playwright-browsers.outputs.cache-hit != 'true'
        run: pnpm exec playwright install --with-deps
        working-directory: packages/sveltex

      - name: Build SvelTeX
        run: pnpm build

      - name: Install Dependencies for Test Project
        run: pnpm --ignore-workspace install
        working-directory: packages/sveltex/tests/e2e

      - name: Build Test Project
        run: pnpm build
        working-directory: packages/sveltex/tests/e2e

      - name: Run Playwright tests
        run: pnpm playwright
        working-directory: packages/sveltex

      - name: Upload Playwright Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: packages/sveltex/playwright-report/
          retention-days: 30
